//Colors
$surface-color: #1C1C1C;
$on-surface-color: #eeeeee;
$on-surface-muted-color: #b3b3b3;
$surface-variant-color: #262626;
$on-surface-variant-color: #D1D1D1;


$positive-color: #08100F;
$on-positive-color: #6CF8BB;
$positive-border-color:#265642;
$negative-color: #17080A;
$on-negative-color: #FFB4AB;
$negative-border-color: #4B2E2E;

$primary-color: #59DEA2;